$pw-green-light: #EDFEFF;
$pw-green: #46ACB1;
$pw-green-dark: #46ACB1;
$pw-black: #141B25;
$pw-grey: #EDEDEE;

$pw-bg-dog: #D9D9D9;

$pw-positive: #1ECB4F;
$pw-positive-light: #EDFBF1;
$pw-warning: #FF3541;
$pw-warning-light: #FFBEC2;
$pw-alert: #FFAE00;
$pw-alert-light: #FFF9EB;